<mat-accordion *ngFor="let module of MyModules">
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
      <mat-panel-title>
          <mat-label>Module Name</mat-label>
        <h3> {{ module.name }} </h3>
      </mat-panel-title>
    </mat-expansion-panel-header> 
      <mat-panel-description>
          <mat-label>Lecturer</mat-label>
        <h3>{{ module.lecturer }}</h3>
      </mat-panel-description>
      <mat-panel-description>
          <mat-label>Module Name</mat-label>
        <h3> {{ module.duration }} </h3>
      </mat-panel-description>
      <mat-panel-description>
          <mat-label>Credits</mat-label>
        <h3> {{ module.worthCredits }} </h3>
      </mat-panel-description>
    <mat-action-row>
      <button mat-raised-button [routerLink]="['/modulesEdit', module._id]">EDIT</button>
      <button mat-raised-button (click)="onDelete(module._id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
