<!--all information is getted from the database and displayed on this page using ngFor to create an instance 
  of the below HTML for each task in the database-->
  <div class="search-module">
      <mat-label>Search </mat-label>
      <input class="form-control" type="text" name="search" [(ngModel)]="searchModule" autocomplete="off" 
      placeholder="Start searching">
  </div>
<mat-accordion *ngFor="let todo of MyToDo| filter:searchModule">
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-label>Task Name</mat-label>
        <h3> {{ todo.name }} </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-label>Module</mat-label>
        <h3>{{ todo.moduleName }}</h3> 
      </mat-panel-description>
      <mat-panel-description>
          <mat-label>Due Date</mat-label>
        <h3> {{ todo.dueDate }} </h3>
      </mat-panel-description>
      <mat-panel-description>
          <mat-label>Percentage</mat-label>
        <h3> {{ todo.worthPercentage }} </h3>
      </mat-panel-description>
    
    <mat-action-row>
      <button mat-raised-button [routerLink]="['/todoEdit', todo._id]" >EDIT</button>
      <button mat-raised-button (click)="onDeleteTodo(todo._id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
