<mat-toolbar color="primary"> 
  <mat-toolbar-row>
    <div class="title">
      Modules & Task Manager
    </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
<div class="navBarButtons">
  <button mat-raised-button [routerLink]="['']">Home</button>
  <button mat-raised-button [routerLink]="['/modulesCreate']">Add Module</button>
  <button mat-raised-button [routerLink]="['/modulesRead']">Display Modules</button>
  <button mat-raised-button [routerLink]="['/todoCreate']">Add to To-Do List</button>
  <button mat-raised-button [routerLink]="['/todoRead']">Display To-Do List</button>
</div>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>