@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

/*change the background color of the body for all pages*/
body {
    background-color: rgb(255, 221, 204);
}

/*change the color of all mat-raised-buttons*/
.mat-raised-button {
    background-color: rgb(153, 0, 115);
}

/*change color of all buttons when they are hovered over*/
button:hover {
    background-color: rgb(102, 0, 51);
}