
<div class="createForm">
<mat-card>
  <form (submit)="onAddToDo(todoForm)" #todoForm="ngForm">
    <mat-form-field>
      <mat-label>Task Name</mat-label>
      <textarea
      matInput
      name="name"
      ngModel
      required
      #content="ngModel"></textarea>
  </mat-form-field>
   <!-- <mat-form-field>
      <mat-label>Module</mat-label>
      <mat-select [(value)]="moduleName">
        <mat-option *ngFor="let module of MyModules" [value]="module.name">{{module.name}}</mat-option>
      </mat-select>
    </mat-form-field>-->
    <mat-form-field>
      <mat-label>Module</mat-label>
      <textarea
      matInput
      name="moduleName"
      ngModel
      required
      #content="ngModel"></textarea>
  </mat-form-field>
    <mat-form-field>
        <mat-label>Due Date</mat-label>
        <textarea
        matInput
        name="dueDate"
        ngModel
        required
        #content="ngModel"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Percentage Worth</mat-label>
    <textarea
      matInput
      name="worthPercentage"
      ngModel
      required
      #content="ngModel"></textarea>
  </mat-form-field>
    <button
      mat-raised-button
      type="submit">Save Task</button>
  </form>
</mat-card>
</div>