<div class="createModuleForm">
<mat-card>
  <form (submit)="onAddModule(moduleForm)" #moduleForm="ngForm">
    <mat-form-field>
      <mat-label>Module Name</mat-label>
    <textarea
      matInput
      name="name"
      ngModel
      required
      #content="ngModel"></textarea>
  </mat-form-field>
    <mat-form-field>
        <mat-label>Lecturer</mat-label>
      <textarea
        matInput
        name="lecturer"
        ngModel
        required
        #content="ngModel"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Duration</mat-label>
      <textarea
        matInput
        name="duration"
        ngModel
        required
        #content="ngModel"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Credits</mat-label>
    <textarea
      matInput
      name="worthCredits"
      ngModel
      required
      #content="ngModel"></textarea>
  </mat-form-field>
    <button
      mat-raised-button
      type="submit">Save Module</button>
  </form>
</mat-card>
</div>